<div class="row justify-content-center">
    <form [formGroup]="createCommentForm" novalidate (ngSubmit)="createComment()" class="col">
        <div class="mb-2">
            <textarea rows="3" name="text" class="form-control" formControlName="text" placeholder="comment text"></textarea>
            <div *ngIf="this.createCommentForm.get('text').invalid && this.createCommentForm.get('text').errors && (this.createCommentForm.get('text').dirty || this.createCommentForm.get('text').touched)">
                <small class="text-danger"
                    *ngIf="this.createCommentForm.get('text').hasError('required')">
                    This field is required.
                </small>
                <small class="text-danger"
                    *ngIf="this.createCommentForm.get('text').hasError('minlength')">
                    The minimum length for this field is {{this.createCommentForm.get('text').errors.minlength.requiredLength}} characters.
                </small>
                <small class="text-danger"
                    *ngIf="this.createCommentForm.get('text').hasError('maxlength')">
                    The maximum length for this field is {{this.createCommentForm.get('text').errors.maxlength.requiredLength}} characters.
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" style="margin: 0 auto;" [disabled]="!createCommentForm.valid">Post comment</button>
        <div *ngFor="let error of errors">
            <div class="alert alert-primary mb-2" role="alert">
                {{error}}
            </div>
        </div>
    </form>
</div>
<div *ngFor="let comment of comments; let i = index">
    <app-comment-view [elemId]="i" [pelemId]="elemId" [comment]="comment" [blogId]="blogId" [articleId]="articleId" 
    (onDeleted)="removeComment($event)" (onChanged)="reloadComment($event)"></app-comment-view>
</div>
