<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="form" novalidate (ngSubmit)="login()" class="col-lg-4 col-md-6 col-sm-10">
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email">
                <div class="alert alert-primary" *ngIf="form.controls['email'].touched && form.controls['email'].invalid"> email is not valid! </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Password</label>
                <input type="password" name="email" class="form-control" formControlName="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="margin: 0 auto;" [disabled]="!form.valid">Login</button>
            <div *ngFor="let error of errors">
                <div class="alert alert-primary mb-2" role="alert">
                    {{error}}
                </div>
            </div>
        </form>
    </div>
</div>
