<div class="card bg-light text-dark mb-5 mt-5">
    <div class="container">
        <div class="row justify-content-center bg-dark text-light">
            <div class="col pb-4 pt-4 text-center">
                <h3>
                    {{this.blog.title}}
                </h3>
            </div>
        </div>
        <div *ngIf="this.blog.description.length>0" class="row justify-content-left">
            <div class="col pb-4 pt-4">
                <h6 class="huge-text">
                    Description: {{this.blog.description}}
                </h6>
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2">
                <h6>
                    Publisher name: {{this.blog.publisherName}}
                </h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2">
                <h6 class="d-inline">
                    Articles count: {{this.blog.articlesCount}}
                </h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2">
                <h6>
                    {{this.blog.modifiedAt}}
                </h6>
            </div>
        </div>
        <div *ngIf="this.blog.isBanned" class="row justify-content-center pb-2 pt-2">
            <div class="alert alert-danger ml-2 mr-2" role="alert" style="width: 100%;">
                This blog is banned by administration!!!
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <!-- Button edit blog-->
            <button *ngIf="this.authService.getCurrentUserId()==this.blog.publisherId" type="button" class="btn btn-primary ml-2 mr-2" data-toggle="modal" attr.data-target="#updateModal_{{this.elemId}}">
                Edit blog
            </button>

            <!-- Button delete blog -->
            <button *ngIf="this.authService.getCurrentUserId()==this.blog.publisherId" type="button" class="btn btn-danger ml-2 mr-2" data-toggle="modal" attr.data-target="#deleteModal_{{this.elemId}}">
                Delete blog
            </button>

            <button *ngIf="this.authService.isAdmin() && this.blog.isBanned" type="button" class="btn btn-success ml-2 mr-2" (click)="unban()">
                Unban
            </button>
            <button *ngIf="this.authService.isAdmin() && !this.blog.isBanned" type="button" class="btn btn-danger ml-2 mr-2" (click)="ban()">
                Ban
            </button>
            
            <button type="button" class="btn btn-info ml-2 mr-2" (click)="info()">
                Details
            </button>
            
            <!-- Modal edit blog -->
            <div class="modal fade" attr.id="updateModal_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="updateModal_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" attr.id="updateModal_{{this.elemId}}_Label">Edit blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="updatingForm" novalidate (ngSubmit)="update()">
                            <div class="mb-2">
                                <label class="form-label">Title</label>
                                <input type="text" name="blogTitle" class="form-control" formControlName="blogTitle" placeholder="Title">
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Description</label>
                                <textarea name="description" rows="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
                            </div>
                            <div *ngFor="let error of updatingFormErrors">
                                <div class="alert alert-primary mb-2" role="alert">
                                    {{error}}
                                </div>
                            </div>
                            <button attr.id="updateModal_{{this.elemId}}_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!updatingForm.valid">Save changes</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            
            <!-- Modal delete blog -->
            <div class="modal fade" attr.id="deleteModal_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="deleteModal_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal_{{this.elemId}}_Label">Are you sure you want to delete this blog?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let error of deleteErrors">
                            <div class="alert alert-primary mb-2" role="alert">
                                {{error}}
                            </div>
                        </div>

                        <button attr.id="deleteModal_{{this.elemId}}_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">No</button>
                        <button (click)="this.delete()" type="button" class="btn btn-danger mr-2 ml-2">Yes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>