<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li *ngIf="!this.authService.isAuthorized()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">
              Login
            </a>
          </li>
          <li *ngIf="!this.authService.isAuthorized()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']">
              Register
              </a>
          </li>
          <li *ngIf="this.authService.isAuthorized()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/blogs']">
              All Blogs
            </a>
          </li>
          <li *ngIf="this.authService.isAuthorized()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/search']">
              Search Article
            </a>
          </li>
          <li *ngIf="this.authService.isAuthorized()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{this.authService.getCurrentUserName()}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/myblogs']">
                My Blogs
              </a>
              <a class="dropdown-item" [routerLink]="['/changepassword']">
                Change password
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="this.authService.logout() " [routerLink]="['/login']">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
