<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-circle btn-fixed" data-toggle="modal" data-target="#creationModal">
    +
</button>

<!-- Modal -->
<div class="modal fade" id="creationModal" tabindex="-1" role="dialog" aria-labelledby="creationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="creationModalLabel">Create blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="creationForm" novalidate (ngSubmit)="createBlog()">
                <div class="mb-2">
                    <label class="form-label">Title</label>
                    <input type="text" name="blogTitle" class="form-control" formControlName="blogTitle" placeholder="Title">
                </div>
                <div class="mb-2">
                    <label class="form-label">Description</label>
                    <textarea name="description" rows="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
                </div>
                <div *ngFor="let error of errors">
                    <div class="alert alert-primary mb-2" role="alert">
                        {{error}}
                    </div>
                </div>
                <button id="creation_Cancel_btn" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!creationForm.valid">Create</button>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="container" *ngFor="let b of this.blogs; let i = index">
    <app-blog-view [blog]="b" [elemId]="i" (onChanged)="onBlogChanged($event)" (onDeleted)="onBlogDeleted($event)"></app-blog-view>
</div>