/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.div-tag {
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  margin: 0.2em 0.5em 0.2em 0.5em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

.huge-text {
  text-align: justify;
  white-space: pre-wrap;
}