<div class="card mb-4">
    <div class="card-body">
        <div *ngIf="this.comment.isBanned" class="row justify-content-center pb-2 pt-2">
            <div class="alert alert-danger ml-2 mr-2" role="alert" style="width: 100%;">
                This comment is banned by administration!!!
            </div>
        </div>
        <p>{{this.comment.text}}</p>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <p class="small mb-0 ms-2">Comment by: {{this.comment.publisherName}}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">{{this.comment.modifiedAt}}</p>
            </div>
        </div>

        <div class="d-flex justify-content-left mt-2">

            <!-- Button edit comment-->
            <button *ngIf="this.authService.getCurrentUserId()==this.comment.publisherId" type="button" class="btn btn-primary ml-2 mr-2" data-toggle="modal" attr.data-target="#updateCommentModal_{{this.pelemId}}_{{this.elemId}}">
                Edit
            </button>

            <!-- Button delete comment -->
            <button *ngIf="this.authService.getCurrentUserId()==this.comment.publisherId" type="button" class="btn btn-danger ml-2 mr-2" data-toggle="modal" attr.data-target="#deleteCommentModal_{{this.pelemId}}_{{this.elemId}}">
                Delete
            </button>

            <button *ngIf="this.authService.isAdmin() && this.comment.isBanned" type="button" class="btn btn-success ml-2 mr-2" (click)="unbanComment()">
                Unban
            </button>

            <button *ngIf="this.authService.isAdmin() && !this.comment.isBanned" type="button" class="btn btn-danger ml-2 mr-2" (click)="banComment()">
                Ban
            </button>


            <!-- Modal edit comment -->
            <div class="modal fade" attr.id="updateCommentModal_{{this.pelemId}}_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="updateCommentModal_{{this.pelemId}}_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" attr.id="updateCommentModal_{{this.pelemId}}_{{this.elemId}}_Label">Edit comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reloadUpdatingFormData()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="updatingForm" novalidate (ngSubmit)="updateComment()">
                                <div class="mb-2">
                                    <textarea rows="3" name="text" class="form-control" formControlName="text" placeholder="comment text"></textarea>
                                    <div *ngIf="this.updatingForm.get('text').invalid && this.updatingForm.get('text').errors && (this.updatingForm.get('text').dirty || this.updatingForm.get('text').touched)">
                                        <small class="text-danger"
                                            *ngIf="this.updatingForm.get('text').hasError('required')">
                                            This field is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="this.updatingForm.get('text').hasError('minlength')">
                                            The minimum length for this field is {{this.updatingForm.get('text').errors.minlength.requiredLength}} characters.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="this.updatingForm.get('text').hasError('maxlength')">
                                            The maximum length for this field is {{this.updatingForm.get('text').errors.maxlength.requiredLength}} characters.
                                        </small>
                                    </div>
                                </div>
                                <div *ngFor="let error of updatingFormErrors">
                                    <div class="alert alert-primary mb-2" role="alert">
                                        {{error}}
                                    </div>
                                </div>
                                <button attr.id="updateCommentModal_{{this.pelemId}}_{{this.elemId}}_Cancel" (click)="reloadUpdatingFormData()" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!updatingForm.valid">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal delete comment -->
            <div class="modal fade" attr.id="deleteCommentModal_{{this.pelemId}}_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="deleteCommentModal_{{this.pelemId}}_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" attr.id="deleteCommentModal_{{this.pelemId}}_{{this.elemId}}_Label">Are you sure you want to delete this comment?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let error of deleteErrors">
                            <div class="alert alert-primary mb-2" role="alert">
                                {{error}}
                            </div>
                        </div>

                        <button attr.id="deleteCommentModal_{{this.pelemId}}_{{this.elemId}}_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">No</button>
                        <button (click)="this.deleteComment()" type="button" class="btn btn-danger mr-2 ml-2">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
