<div class="card bg-light text-dark mb-5 mt-5">
    <div class="container">
        <div class="row justify-content-center bg-secondary text-light">
            <div class="col pb-4 pt-4 text-center">
                <h4>
                    {{this.article.title}}
                </h4>
            </div>
        </div>
        <div *ngIf="this.article.isBanned" class="row justify-content-center pb-2 pt-2">
            <div class="alert alert-danger ml-2 mr-2" role="alert" style="width: 100%;">
                This article is banned by administration!!!
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col pb-4 pt-4 d-inline-flex flex-wrap">
                <div class="justify-content-left" *ngFor="let tag of this.article.tags">
                    <div class="div-tag">
                        <h6>
                            {{tag}}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col pb-4 pt-4">
                <h6 class="huge-text">
                    {{this.article.text}}
                </h6>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2" >
                <h6>
                    Blog: {{this.article.blogTitle}}
                </h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2">
                <h6>
                    Comments count: {{this.article.commentsCount}}
                </h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 pb-2 pt-2">
                <h6>
                    {{this.article.modifiedAt}}
                </h6>
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <!-- Button edit article-->
            <button *ngIf="this.authService.getCurrentUserId()==this.article.publisherId" type="button" class="btn btn-primary ml-2 mr-2" data-toggle="modal" attr.data-target="#updateArticleModal_{{this.elemId}}">
                Edit article
            </button>

            <!-- Button delete article -->
            <button *ngIf="this.authService.getCurrentUserId()==this.article.publisherId" type="button" class="btn btn-danger ml-2 mr-2" data-toggle="modal" attr.data-target="#deleteArticleModal_{{this.elemId}}">
                Delete article
            </button>

            <button *ngIf="this.authService.isAdmin() && this.article.isBanned" type="button" class="btn btn-success ml-2 mr-2" (click)="unbanArticle()">
                Unban
            </button>
            <button *ngIf="this.authService.isAdmin() && !this.article.isBanned" type="button" class="btn btn-danger ml-2 mr-2" (click)="banArticle()">
                Ban
            </button>
            <button *ngIf="!this.showComments" type="button" class="btn btn-info ml-2 mr-2" (click)="this.showComments = !this.showComments">
                Show comments
            </button>
            <button *ngIf="this.showComments" type="button" class="btn btn-info ml-2 mr-2" (click)="this.showComments = !this.showComments">
                Hide comments
            </button>

            <!-- Modal edit article -->
            <div class="modal fade" attr.id="updateArticleModal_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="updateArticleModal_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" attr.id="updateArticleModal_{{this.elemId}}_Label">Edit article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reloadUpdatingFormData()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="updatingAddTagForm" novalidate (ngSubmit)="addTag()">
                            <div class="mb-2">
                                <label class="form-label">Tags</label>
                                <input type="text" name="tag" class="form-control" formControlName="tag" placeholder="tag" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!updatingAddTagForm.valid">Add Tag</button>
                        </form>
                        <div *ngFor="let t of this.updatingFormTags; let i = index" class="d-inline-flex flex-wrap">
                            <div class="div-tag">
                                {{t}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="del_tag(i)">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                            </div>
                        </div>
                        <form [formGroup]="updatingForm" novalidate (ngSubmit)="updateArticle()">
                            <div class="mb-2">
                                <label class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" formControlName="title" placeholder="Title" autocomplete="off">
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Text</label>
                                <textarea name="text" rows="5" class="form-control" formControlName="text" placeholder="text"></textarea>
                            </div>
                            <div *ngFor="let error of updatingFormErrors">
                                <div class="alert alert-primary mb-2" role="alert">
                                    {{error}}
                                </div>
                            </div>
                            <button attr.id="updateArticleModal_{{this.elemId}}_Cancel" (click)="reloadUpdatingFormData()" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!updatingForm.valid">Save changes</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>

            <!-- Modal delete article -->
            <div class="modal fade" attr.id="deleteArticleModal_{{this.elemId}}" tabindex="-1" role="dialog" attr.aria-labelledby="deleteArticleModal_{{this.elemId}}_Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" attr.id="deleteArticleModal_{{this.elemId}}_Label">Are you sure you want to delete this article?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let error of deleteErrors">
                            <div class="alert alert-primary mb-2" role="alert">
                                {{error}}
                            </div>
                        </div>

                        <button attr.id="deleteArticleModal_{{this.elemId}}_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">No</button>
                        <button (click)="this.deleteArticle()" type="button" class="btn btn-danger mr-2 ml-2">Yes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.showComments">
            <app-comments-control [elemId]="elemId" [blogId]="article.blogId" [articleId]="article.id" (onCommentAdded)="onCommentAdded()" (onCommentDeleted)="onCommentDeleted()"></app-comments-control>
        </div>
    </div>
</div>
