<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="form" novalidate (ngSubmit)="changePassword()" class="col-lg-4 col-md-6 col-sm-10">
            <div class="mb-2">
                <label class="form-label">Your old password</label>
                <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword" placeholder="password">
            </div>
            <div class="mb-2">
                <label class="form-label">New password</label>
                <input type="password" name="password" class="form-control" formControlName="password" placeholder="password">
            </div>
            <div class="mb-2">
                <label class="form-label">Confirm new password</label>
                <input type="password" name="confirmpassword" class="form-control" formControlName="confirmpassword" placeholder="password">
                <div *ngIf="form.controls['confirmpassword'].invalid && form.controls['confirmpassword'].touched">
                    <div class="alert alert-primary" *ngIf="form.controls['confirmpassword'].errors.mustMatch">Passwords must match</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="margin: 0 auto;" [disabled]="!form.valid">Register</button>
            <div *ngFor="let error of errors">
                <div class="alert alert-primary mb-2" role="alert">
                    {{error}}
                </div>
            </div>
        </form>
    </div>
</div>
