<div class="card bg-light text-dark mb-5 mt-5">
    <div class="container" *ngIf="this.blog!=null && this.blog!=undefined">
        <div class="row justify-content-center bg-dark text-light">
            <div class="col pb-4 pt-4 text-center">
                <h3>
                    {{blog.title}}
                </h3>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col pb-4 pt-4">
                <h6 class="huge-text">
                    Description: {{this.blog.description}}
                </h6>
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <div class="col pb-2 pt-2">
                <h6>
                    Author: {{this.blog.publisherName}}
                </h6>
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <div class="col pb-2 pt-2">
                <h6>
                    {{this.blog.modifiedAt}}
                </h6>
            </div>
        </div>
        <div *ngIf="this.blog.isBanned" class="row justify-content-center pb-2 pt-2">
            <div class="alert alert-danger ml-2 mr-2" role="alert" style="width: 100%;">
                This blog is banned by administration!!!
            </div>
        </div>
        <div class="row justify-content-left pb-2 pt-2">
            <div class="col-lg-8 col-md-8 col-sm-10 pb-2 pt-2">
                <!-- Button edit blog-->
                <button *ngIf="this.authService.getCurrentUserId()==this.blog.publisherId" type="button" class="btn btn-primary ml-2 mr-2" data-toggle="modal" data-target="#updateBlogModal">
                    Edit blog
                </button>

                <!-- Button delete blog -->
                <button *ngIf="this.authService.getCurrentUserId()==this.blog.publisherId" type="button" class="btn btn-danger ml-2 mr-2" data-toggle="modal" data-target="#deleteBlogModal">
                    Delete blog
                </button>

                <button *ngIf="this.authService.isAdmin() && this.blog.isBanned" type="button" class="btn btn-success ml-2 mr-2" (click)="unbanBlog()">
                    Unban
                </button>
                <button *ngIf="this.authService.isAdmin() && !this.blog.isBanned" type="button" class="btn btn-danger ml-2 mr-2" (click)="banBlog()">
                    Ban
                </button>

                <!-- Button create article-->
                <button *ngIf="this.authService.getCurrentUserId()==this.blog.publisherId" type="button" class="btn btn-primary btn-lg btn-circle btn-fixed" data-toggle="modal" data-target="#creationArticleModal">
                    +
                </button>

                <!-- Modal edit blog -->
                <div class="modal fade" id="updateBlogModal" tabindex="-1" role="dialog" aria-labelledby="updateBlogModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="updateBlogModalLabel">Edit blog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="updatingForm" novalidate (ngSubmit)="update()">
                                <div class="mb-2">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="blogTitle" class="form-control" formControlName="blogTitle" placeholder="Title">
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Description</label>
                                    <textarea name="description" rows="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
                                </div>
                                <div *ngFor="let error of updatingFormErrors">
                                    <div class="alert alert-primary mb-2" role="alert">
                                        {{error}}
                                    </div>
                                </div>
                                <button id="updateBlogModal_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!updatingForm.valid">Save changes</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Modal delete blog -->
                <div class="modal fade" id="deleteBlogModal" tabindex="-1" role="dialog" aria-labelledby="deleteBlogModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="deleteBlogModalLabel">Are you sure you want to delete this blog?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div *ngFor="let error of deleteErrors">
                                <div class="alert alert-primary mb-2" role="alert">
                                    {{error}}
                                </div>
                            </div>

                            <button attr.id="deleteBlogModal_Cancel" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">No</button>
                            <button (click)="this.delete()" type="button" class="btn btn-danger mr-2 ml-2">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>


                <!-- Modal create article -->
                <div class="modal fade" id="creationArticleModal" tabindex="-1" role="dialog" aria-labelledby="creationArticleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="creationArticleModalLabel">Create article</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="creationArticleAddTagForm" novalidate (ngSubmit)="addTag()">
                                    <div class="mb-2">
                                        <label class="form-label">Tags</label>
                                        <input type="text" name="tag" class="form-control" formControlName="tag" placeholder="tag" autocomplete="off">
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!creationArticleAddTagForm.valid">Add Tag</button>
                                </form>
                                <div *ngFor="let t of this.creationArticleFormTags; let i = index" class="d-inline-flex flex-wrap">
                                    <div class="div-tag">
                                        {{t}}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="del_tag(i)">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </div>
                                </div>
                                <form [formGroup]="creationArticleForm" novalidate (ngSubmit)="createArticle()">
                                    <div class="mb-2">
                                        <label class="form-label">Title</label>
                                        <input type="text" name="title" class="form-control" formControlName="title" placeholder="Title" autocomplete="off">
                                    </div>
                                    <div class="mb-2">
                                        <label class="form-label">Text</label>
                                        <textarea name="text" rows="5" class="form-control" formControlName="text" placeholder="text"></textarea>
                                    </div>
                                    <div *ngFor="let error of creationArticleFormErrors">
                                        <div class="alert alert-primary mb-2" role="alert">
                                            {{error}}
                                        </div>
                                    </div>
                                    <button id="creationArticleModal_Cancel" (click)="reloadCreationArticleFormData()" type="button" class="btn btn-secondary mr-2 ml-2" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!creationArticleForm.valid">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let article of articles; let i = index">
            <app-article-view [article]="article" [elemId]="i" (onChanged)=reloadArticle($event) (onDeleted)="removeArticle($event)"></app-article-view>
        </div>
    </div>
</div>