<div class="container">
    <div class="card bg-light text-dark pt-2 pb-2">
        <div class="container pr-2 pl-2">
            <div class="row justify-content-left mt-1 mb-1">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <form [formGroup]="addTagForm" novalidate (ngSubmit)="addTag()">
                        <div class="mb-2">
                            <label class="form-label">Tags</label>
                            <input type="text" name="tag" class="form-control" formControlName="tag" placeholder="tag" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!addTagForm.valid">Add Tag</button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div *ngFor="let t of this.searchTags; let i = index" class="d-inline-flex flex-wrap">
                        <div class="div-tag">
                            {{t}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="del_tag(i)">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-left mt-1 mb-1">
                <div class="col">
                    <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
                        <div class="mb-2">
                            <label class="form-label">Text</label>
                            <input type="text" name="text" class="form-control" formControlName="text" placeholder="text" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 ml-2" [disabled]="!searchForm.valid">Search</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-left mt-1 mb-1" *ngIf="this.errors.length>0">
                <div class="col">
                    <div *ngFor="let error of errors">
                        <div class="alert alert-primary mb-2" role="alert">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let article of articles; let i = index">
        <app-article-view [article]="article" [elemId]="i" (onChanged)=reloadArticle($event) (onDeleted)="removeArticle($event)"></app-article-view>
    </div>
    <div class="row justify-content-center mt-1 mb-1">
        <button type="button" *ngIf="!this.isLoadMoreDiabled" class="btn-outline-primary btn-lg" (click)="loadMore()">Load More</button>
    </div>
    <div *ngIf="this.isSearchDone && this.articles.length>0 && this.isLoadMoreDiabled" class="alert alert-primary mb-2" role="alert">
        No more articles matches set filter!!!
    </div>
    <div *ngIf="this.isSearchDone && this.articles.length==0" class="alert alert-primary mb-2" role="alert">
        No articles matches set filter!!!
    </div>
</div>